*{
  margin: 0px auto;
  padding: 0px;
}

body{
  width: auto;
  border: solid 2px;
  font-family: "Cabin", sans-serif;
}
header{
  width: auto;
  height: 90px;
  border: solid 3px;
  margin: 0px 150px 0px 150px;
}
div#body{
  margin: 0 150px 0 150px;
  width: auto;
  height: 1200px;
}
div#ib{
  width: auto;
  height: 10px;
  margin:0px;
  padding-bottom: 40px;
  border: solid 1px;
}
div#ib ul{
  float: left;
  list-style: none;
  margin-left: 150px;  
}
div#ib ul li{
  float: left;
  padding:14px 20px;
}
div#ib ul li a{
  font-size: 10px; 
  text-decoration: none;
}
div#ib div#login {
  float: right;
  font-size: 15px;
  margin: 4px 150px 4px 0;
  padding: 11px 14px;
  border: 1px solid black;
  border-radius: 50%;
  background: #29A07E;
}
div#ib div#login i{
  color: white;
  background-color: #29A07E;
}
div#ib div#login:hover{
  background-color:#d24141;
}
div#login div a{
  text-decoration: none;
  color: blue;
}
div #logo{
  width: 120px;
  height: 90px;
  float: left;
}
#logo img{
  width: 110px;
  height: 90px;
}
.thanh_tim{
  width: 500px;
  height: 40px;
  float: left;
  padding: 30px 0px 30px 30px;
}
.thanh_tim input[type=text]{
  width: 390px;
  height: 30px;
}
.thanh_tim button{
  height: 33px;
  width: 58px;
  margin: 0px 0px 0px 10px;
}
                                      /* ======================== cần được sửa icon shopee */
#icon_shop{     
  height: 15px;
  width: 15px;
}
#sdt{
  width: 190px;
  float: left;
  padding: 30px 0px 30px 30px;
}
#sdt b{
  font-size: 30px;
}
#gio_hang{
  padding: 30px 0px 30px 0px;
  float: right;
}
#gio_hang button{
  width: 120px;
  height: 25px;
  font-weight: bold;
}
/* Login form star */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  background-color: #d24141;
  
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: 100px;
  padding: 10px 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container{
  padding: 20px;
  color: blue;
}
.container h2{
  color: #000;
  padding-bottom: 15px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: -140px;
  top: -140px;;
  color: #000;
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Login form end */
nav{
  width: auto;
  height: 60px;
  padding: 10px 0;
  border: solid 3px;
  margin: 0px 150px 0px 150px;
}
nav ul{
  list-style: none;
  border: 1px solid red;
  width: auto;
  height: 40px;
  padding:20px 15px 0px 15px;
}
nav ul li{
  float: left;
  padding:0px 10px 0px 5px;
}
nav ul li a{
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
div#icon_menu{
  float: left;
}
article{
  width: auto;
  border: solid 3px;
  display: table-row;
  margin: 0 150px 0 150px;
}

aside#left{
  display:table-cell;
  /* border: solid 1px; */
  width: auto;
  margin: 10px 10px 10px 0px;
}

aside#right{
  display: table-cell;
  /* border: solid 3px brown; */
  width: auto;
}
section{
  display:table-cell;
  width: auto;
  /* border: solid 3px pink; */
}

/* Menu-vertical-left start*/
.menu-vertical-left{
  /* position: relative; */
  width: 200px; 
  text-align: left;
  margin: auto;
  border: 2px solid white;
  border-top-right-radius:5px;   
  border-bottom-right-radius:5px;
  float: left;
}
.menu-vertical-left ul {
  margin:0;
  padding:0;
  position: relative;
  list-style: none;
}
.menu-vertical-left ul li{
  position: relative;
}
.menu-vertical-left ul li a{
  display: block;
  position: relative;
  background:white;
  padding: 10px;
  text-decoration: none;
}
.menu-vertical-left ul li a:link , .menu-vertical-left ul li a:visited{
  color: black;
  border-bottom: 1px solid red;
}
.menu-vertical-left ul li:hover>a{
  background:#3d8dc9;
  color: white;
  border-radius: 5px;
}
.menu-vertical-left ul li ul{
  position: absolute;
  left: -5000px;
  top: 0;
  width: 300px;
  visibility: hidden;
  box-shadow: 2px 2px 5px gray; 
}
.menu-vertical-left ul li:hover>ul{
  visibility: visible;
  left: 100%;
}
.menu-vertical-left ul li ul li{
  display:list-item;
  float: none;
}
.menu-vertical-left ul li ul li ul{
  top: 1;
  left: 100%;
}
.menu-vertical-left ul ul li:hover>a{
  background: blueviolet;
  border-radius: 5px;
}
.menu-vertical-left ul ul li:hover>ul{
  left: 100%;
}
.menu-vertical-left ul li ul li a{
  padding: 10px;
  margin: 0;
  background: palevioletred;
  border-right: none;
  border-top-width: 0;
}
.menu-vertical-left ul li>a{
  padding-right: 20px;
}
.menu-vertical-left ul li>a:only-child{
  padding-right: 10px;
}
.menu-vertical-left ul li>a::after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-left-color:white;
  top: 40%;
  right: 8px;
}
.menu-vertical-left ul li>a:only-child::after{
  display: none;
}
/* menu-vertical-left end */

/* img slideshow start */
div#img_slideshow img{
  width:580px;
  margin: 0 5px;
  height: 310px;
  float: left;
}
/* IMG right hover start */
aside#right div#img_right img{
  width:305px;
  height: 310px;
  float: left;
}
div#img_right{
  border: 1px solid white;
  overflow: hidden;
}
aside#right div#img_right img:hover{
  transform: scale(1.1);
  transition: transform .6s;
}
/* banner start*/
div#banner img{
  width: 785px;
  height: 100px;
  float: left;
  margin-top: 20px;
  padding-right: 10px;
}
/* aside right link ytb start*/
div#right_bottom{
  width: 300px;
  margin-top: 20px;
  float: left;
  border: 1px solid orangered;
}
div#right_bottom p{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
div#right_bottom ul{
  width: 300px;
  float: left;
}
div#right_bottom ul li{
  padding: 10px 0;
  list-style: none;
  text-align: left;
}
div#right_bottom ul li img{
  width: 120px;
  float: left;
  padding-right: 10px;
}
div#right_bottom ul li a{
  text-decoration: none;
  color: black;
}
/* San pham hot vcl */
div#nav_sph{
  float: left;
  margin-top: -450px;
  border: 2px solid #000;
  width: 780px;
  height: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
div#nav_sph p{
  border: 1px solid blue;
  border-radius: 10px;
  height: 31px;
  width: 150px;
  float: left;
}

div#sp_hot{
  margin: 130px 310px 0 0;
}
div#sp_hot_1 img{
  float: left;
  width: 330px;
  margin-top: -400px;
}
div#sp_hot_1 p{
  margin-top: -60px;
  float: left;
  font-size: 12px;
  padding-left: 20px;
}
div#sp_hot_1 span#cost_1{
  float: left;
  margin-top: -40px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 110px;
  color: #29A07E;
}
div#sp_hot_1 span#bth_insert_1{
  border: 1px solid black;
  margin-top: -10px;
  padding: 5px;
  float: left;
  margin-left: 70px;
  border-radius: 10px;
}
div#sp_hot_nor img{
  float: left;
  width: 100px;
  margin: -400px 30px 20px 180px;
}
div#sp_hot_nor p{
  margin-top: -300px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 7px;
  margin-left: 150px;
  text-align: center;
}
div#sp_hot_nor span#cost_nor{
  float: left;
  margin-top: -270px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 190px;
  color: #29A07E;
}
div#sp_hot_nor span#bth_insert_nor{
  border: 1px solid black;
  margin-top: -240px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 170px;
  border-radius: 10px;
}

div#sp_hot_nor2 img{
  float: left;
  width: 100px;
  margin: -400px 30px 20px 380px;
}
div#sp_hot_nor2 p{
  margin-top: -300px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 18px;
  margin-left: 330px;
  text-align: center;
}
div#sp_hot_nor2 span#cost_nor2{
  float: left;
  margin-top: -270px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 400px;
  color: #29A07E;
}
div#sp_hot_nor2 span#bth_insert_nor2{
  border: 1px solid black;
  margin-top: -240px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 380px;
  border-radius: 10px;
}

div#sp_hot_nor3 img{
  float: left;
  width: 100px;
  margin: -170px 30px 20px 180px;
}
div#sp_hot_nor3 p{
  margin-top: -70px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 7px;
  margin-left: 150px;
  text-align: center;
}
div#sp_hot_nor3 span#cost_nor3{
  float: left;
  margin-top: -40px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 190px;
  color: #29A07E;
}
div#sp_hot_nor3 span#bth_insert_nor3{
  border: 1px solid black;
  margin-top: -10px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 170px;
  border-radius: 10px;
}

div#sp_hot_nor4 img{
  float: left;
  width: 100px;
  margin: -185px 30px 20px 380px;
}
div#sp_hot_nor4 p{
  margin-top: -85px;
  float: left;
  font-size: 9px;
  padding: 5px 0 0 18px;
  margin-left: 330px;
  text-align: center;
}
div#sp_hot_nor4 span#cost_nor4{
  float: left;
  margin-top: -55px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 400px;
  color: #29A07E;
}
div#sp_hot_nor4 span#bth_insert_nor4{
  border: 1px solid black;
  margin-top: -25px;
  font-size: 11px;
  padding: 5px;
  float: left;
  margin-left: 380px;
  border-radius: 10px;
}
/* footer start */
footer{
  margin-top: 20px;
  width: auto;
  height:370px;

  background-color: #29A07E;
}
div#body_footer{
  margin: 0 150px;
  width: auto;
}
div#body_footer div#address{
  width: auto;
  float: left;
}
div#body_footer div#footer_icon img{
  width: 30px;
  height: 30px;
}

div#body_footer div#footer_icon{
  float: right;
}

div#body_footer div#in4_footer div#address p{
  font-size: 14px;
  color: white;
  font-weight: bold;
}

div#in4_footer{
  padding-top: 10px;
  border: #29A07E solid 2px; 
  height: 30px;
}
/* map && page start */
div#map_page{
  margin-top: 40px;
  background-color: #29A07E;
}
div#map_page p{
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
div#map{
  float: left;
  width: auto;
}
div#map iframe{
  width: 500px;
  height: 262px;
  border: 1px solid blueviolet;
  
}
div#page iframe{
  width: 500px;
  height: 262px;
}
div#page{
  float: right;
  /* border: red solid 2px; */
  width: auto;
  overflow: hidden;
}
/* Fast chatting */
div#fast_ib{
  position:fixed;
  bottom: 10px;
  left: 0;
} 
div#zalo_chat{
  width: 70px;
  border: 1px solid #0c8800;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #0c8800;
  color: white;
}
div#facebook_chat{
  width: 110px;
  border: 1px solid #29a07e;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #29a07e;
  color: white;
}
div#hotline{
  width: 140px;
  border: 1px solid #df043e;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color:#df043e;
  color: white;
}